body {
  background-color: #fe9;
}

#app {
  width: 500px;
  border: 1px solid grey;
  border-radius: 20px;
  margin-top: 30px;
  background-color: white;
}

.product-list-height-const {
  height: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.shopping-list-height-const {
  height: 376px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.counter-table{
  padding: 0px!important;
  width: 30px;
}

.counter {
  padding: 0px;
  margin-right: 0px;
  margin-left: 5px;
}
.counter-button {
  padding: 0px;
  margin: 2px;
  font-size: 10px;
  width: 14px;
  height: 14px;
  text-align: center;
  align-self:center;
  text-decoration: none;
  background-color: lightgrey;
  justify-content: center;
  border-radius: 4px;
}

.counter-button-add:hover{
  background-color: lightgreen;
}
.counter-button-remove:hover{
  background-color: red;
}

.counter-button-add:before {
  content: "+";
}
.counter-button-remove:before {
  content: "-";
}

.scroll-offset{
  margin-right: 10px;
}

.hidden {
  display: none;
}

.bold {
  font-weight: bold;
}

.list-description {
  font-size: 10px;
  font-weight: 100;
  margin-left: 5px;
  margin-bottom: 0px;
  -text-align: justify;
}

.btn-look {
  background: lightgrey;
  border: 0px;
}

.btn-toggled {
  background: grey;
  color: white;
}

.list-filter-buttons {
  margin-top: 5px;
  margin-bottom: 5px;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255,255,0,.25);
}
